<div class="aboutcontainer container-fluid">
	<div class="bootcampheading row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h2 class="text-center" style="font-size: 2em; color: white; padding: 10px;">About Me</h2>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
<div class="container">
<div class="aboutme row">
	<div class="col-sm-12">
		<h4 class="text-center" style="font-size: 1.5em;">My name is Josh and I'm from Pittsburgh. I started this web app as my final project while attending the Ironhack web development bootcamp in Miami to make your life easier. As a northerner who both craved knowledge and travel, the urge to go to a bootcamp grew stronger. While I was absolutely ready mentally and monetarily, finding affordable short term housing almost proved to a be hurdle too great, nearly cutting my bootcamp experience short before it even started. This is a problem that hit close to home, and I want others to have the great learning or career experiences while traveling as I did. </h4>
	</div>	
</div>
</div>
<div class="mission container-fluid">
	<div class="missionheading row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h2 class="text-center" style="font-size: 2em; color: white; padding: 10px;">My mission</h2>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<div class="col-sm-12">
		<h4 class="text-center" style="font-size: 1.5em;">My mission is to bring you context to a city that you've never been to before, give you a clear view of what your stay is going to be like, and get you there with no hassle. I know what it feels like to scour through dozens of real estate sites to find a place to stay and fulfill your education or career dreams. </h4>
	</div>
</div>
</div>
