// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "./site";
@import "./cities";
@import "./scaffolds";
@import "./bootcamps";
@import "./neighborhoods";


 * {
 	font-family: sans-serif;
 }
 body{
 	background-color: #F7F5FA;
 }

 .neighborhoods{
 	text-align: center;
 }
 .navcontainer{
 	background-color: black;
 
 }
 .navcontainer > *{

 }
 .nav  * {
 	color: white;
 }
 .search *{
 	color: white;
 }
 .heading{
 	font-size: 22px;
 }
