// Place all the styles related to the bootcamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bootcamp{
	margin-bottom: 20px;
	background-color: white;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30%;
	border-style: groove;
	border-width: 2px;
	border-color: black;
	z-index: 100;

}
.maincontent{
	margin-left: 50px;
}