// Place all the styles related to the bootcamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bootcamp{
	margin-bottom: 20px;
	background-color: white;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30%;
	border-style: groove;
	border-width: 2px;
	border-color: black;
	z-index: 100;

}
.maincontent{
	margin-left: 50px;
}
.bccities{
	margin-bottom: 20px;
}
.bcnameheading{
	font-size: 2em;
}
.bcabout{
	font-size: 1.3em;
	font-weight: bold;
}
.attend{
	margin-top: 120px;
}

.bccity{
	background-color: #E7E1F2;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 2px;
	width: 30%;
	border-style: groove;
	border-width: 2px;
	border-color: black;
	z-index: 100;
	box-shadow: 10px 10px 5px #888888;
}
.bootcampcontainer{
	height: 100%;
}