// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html *
{
   font-size: 1.0em;
   color: #000;
   
}
.propertyimg{
	width: 250px;
	height: 250px;
}
.searchresults{
	padding: 0;
	margin: 0;
}
.propertysingle{
	width: 30%;
}
.contentcontainer{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}
.navcontainer{
	margin-top: -50px;
	background-color: inherit;
}
.navrow{
	margin-left: 10%;
	margin-right: 10%;
}

.share{
	float: right;
}
.bootcampIMG{
	margin-bottom: 10px;
	height: 200px;
	width: 200px;
}
.cityIMG{
	margin-bottom: 7px;
	height: 250px;
	width: 250px;
	border-radius: 50px;

}
.cities{
	font-size: 16px;
	border-style: groove;
	border-radius: 2.5px;
	
}
.properties{
	font-size: 1.1em;
}
.bootcampheading{
	margin-bottom: 30px;
	background-color: black;
}

.bootcamps{
	font-size: 16px;
	// border-style: groove;
	// border-radius: 5.5px;
	// border-color: black;
	box-shadow: 10px 10px 10px 5px #888888;
}
.headingbanner{
	width: 100%;
	height: 50em;
}
.headingwrapper{
	display: table;
  width: 100%;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  background-position: center top;
  height: 50em;
  color: white;
  position: absolute;

}
.siteheading{
	color: white;
	font-size: 48px;
	top: 25%;
	left: 30%;
	z-index: 100;
	position: absolute;

}
.submitsearch{
	background-color: transparent;
	
}
.topnav{
	position: absolute;
	z-index: 100;
	top: 20px;
	right: 10%;
	left: 10%;
	width: 100%;
}
.topnav h2{
	z-index: 100;
	width: 100%;
}
.sitesidenote{
	z-index: 100;
	top: 36%;
	left: 40%;
	position: absolute;
	color: white;
	font-size: 18px;
}
.about{
	align: center;
	color: white;
}
.realtors{
}
.ghostbutton {
  width: auto;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.ghostbutton:hover,
.ghostbutton:active {
  background-color: #9363c4;
  border-color: #9363c4;
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
   }

.signin{
	margin-bottom: 10px;
	width: 100%;
}
.cityIMGsmall{
	width: 100%;
	height: 25px;

}
.bootcampcontainer{
	background-color: #c0c8fd;
}
.bootcamphome{
	margin-bottom: 20px;
	background-color: white;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 15px;
	width: 30%;
	border-radius: 50px;
	border-style: groove;
	border-width: 2px;
	border-color: black;
	z-index: 100;
	box-shadow: 10px 10px 5px #888888;

}
.majorheading{
	font-size: 1.4em;
	color: white;
}
.minorheading{
	font-size: 0.8em;
	color: white;
}
.bootcampcities{
	margin-bottom: 4px;
	width: 80%;
}
.smallstuff{
	font-size: 0.6em;
}
.searchli{
	margin-top: -50px;
}
 .search{
 	color: white;
 }
 .missionheading{
 	margin-bottom: 30px;
 	background-color: #B0A3D1;
 }
 .mission{
 	margin-top: 100px;
 }
 #slider-range{
 	z-index: 100;
 }